@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* * Carousel */

.item-list-container{
    width: 90%;
    display: grid;
    height: fit-content;
    margin: $margin-y;
    grid-template-columns: repeat(auto-fill, minmax(calc(7em + 2rem), calc(10em + 2rem)));
    gap: 2rem;
    justify-items: center;
    place-content: center;

    

  }
  